<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730936628748-m70pd7kjb186qvcl1128l2jf6h1q5ncd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730936628748-m70pd7kjb186qvcl1128l2jf6h1q5ncd</string>
	<key>API_KEY</key>
	<string>AIzaSyBL4SFnJ9E2Wl82u2zCE7qCkRaAoGchmuo</string>
	<key>GCM_SENDER_ID</key>
	<string>730936628748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egemenerdem.expensiveChat</string>
	<key>PROJECT_ID</key>
	<string>expensive-chat-8faa6</string>
	<key>STORAGE_BUCKET</key>
	<string>expensive-chat-8faa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730936628748:ios:5cfe4b03d9bd893278c029</string>
</dict>
</plist>